In [1]:
#pip install tweepy

### Tweepy API Documentation: https://www.earthdatascience.org/courses/use-data-open-source-python/intro-to-apis/twitter-data-in-python/

In [1]:
consumer_key = 'API key'
consumer_secret = 'API secret key'
token = 'Access token'
token_secret = 'Access token secret'

In [1]:
import tweepy as tw
import pandas as pd

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(token, token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [5]:
# Define the search term and the date_since date as variables
search_words = "brunei"
date_since = "2020-12-18"
lang = "en"

# Collect tweets
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang=lang,
                       since=date_since).items()
df = [[tweet.id, tweet.text, tweet.user.screen_name, tweet.user.followers_count, tweet.favorite_count, tweet.retweet_count,tweet.user.location, str(tweet.created_at)] for tweet in tweets]

raw_df = pd.DataFrame(df, columns = ['id','text','user','user_followers','favorite_count', 'retweet_count','location','datetime'])
print(len(df))
raw_df.head()

4358

,id,text,user,location,datetime
0,1339075577752342531,@CCherryns Dh. Can't send mails to Brunei \n\n...,ChocoCara2,NU'NIVERSITY Journalism Dept,2020-12-16 05:11:11
1,1339074734797963265,@goldenzarra @Lyasuhaimi yess it's in bruneiðŸ˜„,sy4krh,BN,2020-12-16 05:07:50
2,1339073122046275586,4 Days to go! #4days #Solopreneur #ProductLaun...,nahabhi,,2020-12-16 05:01:25
3,1339070711353147393,RT @taeyeoncharts: 'What Do I Call You' on iTu...,as_expected_ss,,2020-12-16 04:51:50
4,1339068988542730241,"According to reports, this iceberg is larger t...",JagranEnglish,"New Delhi, India",2020-12-16 04:45:00

In [17]:
raw_df.tail()

,id,text,user,favorite_count,retweet_count,location,datetime
2295,1339879517943259136,RT @BatEveryHour: The painted bat is a species...,greenspace01,0,989,"Bathurst, Wiradjuri country",2020-12-18 10:25:45
2296,1339879494618759169,"""CRY FOR ME"" â€” 1's on iTunes:\n\n#1 (+1) Brune...",TWICEANALYTICS,710,217,,2020-12-18 10:25:39
2297,1339879313244622848,RT @dgprPaknavy: High Commissioner of Brunei D...,asimp1111,0,99,,2020-12-18 10:24:56
2298,1339879219841658881,RT @dgprPaknavy: High Commissioner of Brunei D...,MahadBilal5,0,99,"Lahore, Pakistan",2020-12-18 10:24:34
2299,1339879068397924352,RT @dgprPaknavy: High Commissioner of Brunei D...,Skinny_El3phant,0,99,127.0.0.1 - Planet Earth,2020-12-18 10:23:58

In [11]:
raw_df = pd.DataFrame(df, columns = ['id','text','user','location','datetime'])
raw_df.to_csv(r'raw_brunei_tweets_tweepy.csv', index = False)